h1 {text-align: center;}
h2 {
    background-color: rgb(21, 182, 128);
    text-align: center;}
body {
  /* background-image: repeating-linear-gradient(rgb(83, 131, 20), rgb(210, 138, 37));    */
  background-color: rgb(55, 147, 116);
}
.allWidgets{
    text-align: center;  
}
.wordGameF {
  background-image: radial-gradient(rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874),rgb(32, 114, 87),rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87));
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 0.4em solid;
  width: 33%;
  height: 24em;
  margin-left: auto;
  margin-right: auto;  
}  
.PhoneBillF {
    background-image: repeating-linear-gradient(rgb(32, 114, 87), rgb(32, 114, 87), rgb(32, 114, 87), rgba(165, 199, 209, 0.874),rgb(32, 114, 87),rgb(32, 114, 87));
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 0.4em solid;
  width: 33%;
  height: 24em;
  margin-left: auto;
  margin-right: auto;   
}
.EnoughAirtimeF {
    background-image: radial-gradient(rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874),rgb(32, 114, 87),rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87), rgba(96, 180, 204, 0.874), rgb(32, 114, 87), rgb(32, 114, 87));
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 0.4em solid;
  width: 33%;
  height: 24em;
  margin-left: auto;
  margin-right: auto;   
}
.buttons {
  background-color:rgb(141, 134, 31);
  padding: 0.5em;
}
.buttons:hover{
  background-color: chartreuse;
}
.returnStatement {
  background-color: rgb(34, 227, 163);
  padding: 0.5em;
  margin: 1em; 
}